body {
  margin: 0;
  font-family: "Public Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec !important;
}

.navbar {
  background-color: #f9f9f9;
  padding: 0 20px;
}

.category-active {
  background-color: #74b9ff !important;
  color: #fff !important;
}

.btn-primary {
  background-color: #74b9ff !important;
  border: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
